@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: rgba(30, 233, 223, 0.89);
    color: rgb(3, 17, 0);
    border: 2px solid rgb(44, 182, 206);
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(80vh - 150px);
    background: no-repeat center/cover url('assets/header-image.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h3 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.cursos {
    background: #e1e8f7;
    padding: 15px;
}

.cursos .cursos-cards {
    display: flex;
    margin: 40px;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: center;
}

.cursos .cursos-title {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.cursos .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0px;
    margin: 25px;
    position: relative;
}

.cursos .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.cursos .card-content {
    padding: 0 15px;
}

.cursos .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.cursos .card-content ul li {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.cursos .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.cursos .card-content h1 {
    font-size: 1rem;
}

.cursos .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: rgb(143, 11, 55);
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.cursos .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: rgba(255, 124, 17, 0.767);
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.cursos .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: rgb(247, 223, 223);
    font-weight: bold;
}

.cursos {
    padding: 15px;
    background-color: rgb(244, 248, 250);
}

.saibamais .saibamais-title {
    text-align: center;
    margin: 25px 0;
}

.saibamais .saibamais-cards {
    margin-top: 5px;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.saibamais .card {
    width: 280px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 20px;
}

.saibamais .card svg {
    width: 50px;
    height: 60px;
    margin: 30px;
    transition: all 1s;
}

.saibamais .card svg:hover {
    stroke: rgb(67, 155, 206);
    transform: scale(1.1);
}

.saibamais .card h3 {
    font-weight: bold;
}

.saibamais .card p {
    color: grey;
    font-size: .8rem;
    text-align: center;
}

.saibamais .card .card-content {
    height: 160px;
    text-align: center;
}

.saibamais button {
    background: rgba(30, 233, 223, 0.89);
    color: rgb(3, 17, 0);
    border: 2px solid rgb(44, 182, 206);
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    border: 2px solid rgb(6, 27, 99);
}

.faleconosco {
    padding: 50px;
    background: #e1e8f7;
    position: relative;
}

.faleconosco .faleconosco-card {
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;
    border-radius: 8px;
    top: calc(50% - 150px);
    left: calc(20% - 175px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border: 2px solid rgb(33, 26, 139);
}

.faleconosco .faleconosco-card h1 {
    padding-left: 50px;
    text-align: left;
}

.faleconosco .faleconosco-card li {
    font-size: .8rem;
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
}

.faleconosco .faleconosco-card li svg {
    width: 16px;
    margin: 10px;
}


/* RESPONSIVIDADE */


/* Especial para mapa */

@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
    }
    .contato .contato-card {
        left: 40px;
    }
}


/* Especial para mapa */

@media (max-width: 800px) {
    .faleconosco {
        padding: 20px 0;
    }
    .faleconosco .faleconosco-card {
        position: static;
        margin: 40px auto;
    }
}


/* Landscape TABLETS and down */

@media (max-width: 767px) {}


/* Landscape phones and down */

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        background: #1D61DD;
        color: white;
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
}